---
import PageLayout from "@layouts/PageLayout.astro";
import PostCard from "@components/PostCard.astro";
import Search from "astro-pagefind/components/Search";
import TagCloud from "@components/TagCloud.astro";

import { fetchAndFilterPosts } from "@utils/helpers";

const posts = await fetchAndFilterPosts();
const firstFivePosts = posts.slice(0, 5);
const restOfPosts = posts.slice(5);
const isEmpty = Object.keys(restOfPosts).length;

const title = "TheLoneVoice";
const description = "Welcome to my blog";
---

<PageLayout {title} {description}>
	<div class="wrapper">
		<section class="my-fluid">
			<h1 class="section-heading font-serif text-xl mb-4">
				LATEST &ThinSpace; POSTS
			</h1>

			<div class="grid gap-6 md:grid-cols-2">
				<div class="first-post">
					{
						firstFivePosts
							.slice(0, 1)
							.map((post) => (
								<PostCard {post} isFirstPost={true} />
							))
					}
				</div>
				<div class="grid gap-6 sm:grid-cols-2">
					{
						firstFivePosts
							.slice(1)
							.map((post) => <PostCard {post} smallCard={true} />)
					}
				</div>
			</div>
		</section>

		{
			isEmpty > 0 ? (
				<section class="my-fluid">
					<h1 class="section-heading font-serif text-xl mb-4">
						OLDER &ThinSpace; POSTS
					</h1>
					<div class="grid lg:grid-cols-4 gap-6">
						<div class="lg:col-span-3">
							<div class="fluid-cards">
								{restOfPosts.map((post) => (
									<PostCard {post} />
								))}
							</div>
						</div>
						<aside data-pagefind-ignore>
							<Search className="py-4 font-sans" />
							<TagCloud />
						</aside>
					</div>
				</section>
			) : null
		}
	</div>
</PageLayout>

<style>
	body {
		--pagefind-ui-border: hsla(24, 10%, 10%, 0.627);
		--pagefind-ui-border-radius: 4px;
		--pagefind-ui-font: "Alegreya Sans", ui-sans-serif, sans-serif;
	}
</style>
