---
import BaseLayout from "./BaseLayout.astro";
import BlogPostHero from "@components/BlogPostHero.astro";
import Navbar from "@components/Navbar.astro";

import "@styles/typography.css";

const { title, description, pubDate, tags, coverImage, coverAlt } = Astro.props;
---

<BaseLayout {title} {description}>
    <Navbar isBlogPost={true} />
    <main data-pagefind-body>
        <BlogPostHero {title} {pubDate} {coverImage} {coverAlt} />
        <div class="wrapper">
            <article class="typography mx-auto">
                <slot />
            </article>
        </div>
    </main>
</BaseLayout>
